@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    background: linear-gradient(to right, skyblue, blue, darkblue 100%);
    text-align: center;
    font-family: "Oswald", sans-serif;
}
img{
    width: 100px;
    margin: 20px 0;
}
#manos{
    width: 90px; 
    padding-bottom: 1px;
}
h1{
    margin-top: 100px;
    margin-bottom: 20px;
    letter-spacing: 3px;
    font-size: 2em;
}
p{
    font-family: "Raleway", sans-serif;
    font-size: 0.7em;
    margin-top: 20px;
}
#email{
    margin-top: 20px;
    width: 95%;
    max-width: 300px;
    padding: 10px 8px;
    border: none;
    font-family: "Raleway", sans-serif;
    color: black;
    font-size: 0.7em;
    border-radius: 3px;
    border: none;
}
#SuscribeBtn{
    padding: 7px 10px;
    background-color: #000066;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-boder-radius: 15px;
}
#backBtn{
    padding: 2px 20px;
    margin: 10px 0;
    position: absolute;
    background-color: transparent;
    left: -50%;
    left: calc(50% - 50px);
    bottom: 0;
    border: 1px solid white;
    display: inline-block;
    cursor: pointer;
    font-size: 12px;

}